[
 { hello_erlang, [
		   { scale, 0.8 },
		   { rssi_range, [-80, -40] },
		   { probe_sn_list,[
				    {"P_00000000000000_0",0},
				    {"P_00000000000000_1",1},
				    {"P_00000000000000_2",2},
				    {"P_00000000000000_3",3}
				   ]
		   }, 
		   { probe_info , [
				   {0, {0,0}},
				   {1, {0,19}},
				   {2, {31,19}},
				   {3, {31,0}}
				  ]
		   }
		 ]
 }
].
